html{
  scroll-behavior: smooth;
}

/*Button*/
#cart:hover{
  background-color: var(--green3);
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
