
/* Imports*/
@import 'resets.css';
@import 'typography.css';
@import 'animation.css';

body{
  background-color: var(--green1);
}


/*Variables*/
:root {
  /* Colours Green- light to dark*/
  --green1: #C5CDC0;
  --green2: #93A889;
  --green3: #3E563E;
  --green4: #091008;
  /* Screen sizes */
  --mobile: 0px;
  --tablet: 600px;
  --laptop: 900px;
}

/*Grid*/
@media (min-width: 0px) and (max-width:899px){
  .grid{display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;}
  }
@media screen and (min-width:900px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100%;
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;}
  }

/*Nav*/
ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / span 10;
}
nav{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 0px) and (max-width:899px){
  ul{
    grid-column: 1 / span 3;
  }
  .hide{
    display: none;
  }
  .ham{
    width: 37px;
    height: 1px;
    background-color: black;
    margin: 12px 0;
    grid-column: 4 / span 1;
  }
  .ham-wrapper{
    justify-self: end;
  }
  nav{
    padding-top: 1.25rem;
  }
}


/*Heading*/
.title-wrapper{
  grid-column: 1 / span 3;
  text-align: right;
  padding-top: 9.4rem;
}
  .lavender-wrapper{
  grid-column: 8 / span 3;
  padding-top: 16.4rem;
}
  .img-wrapper{
  grid-column: 4 / span 4;
  justify-self: center;
}
img{
  width: 100%;
  max-width: 400px;
}

@media (min-width: 0px) and (max-width:899px){
  .title-wrapper{
      grid-column: 1 / span 2;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  .lavender-wrapper{
      grid-column: 1 / span 3;
      padding-top: 2rem;
  }
  .img-wrapper{
      grid-column: 3 / span 2;
  }
}

/*Circles*/
.circle1{
  height: 20rem;
  width: 20rem;
  background-color: var(--green2);
  border-radius: 50%;
}
.circle2{
  height: 20rem;
  width: 20rem;
  background-color: var(--green3);
  border-radius: 50%;
}
.circle-wrapper{
  grid-column: 4 / span 4;
  justify-self: center;
}
@media (min-width: 0px) and (max-width:899px){
  .circle-wrapper{
    grid-column: 1 / span 4;
    z-index: -1;
  }
}

/*Section 1*/
.s1{
  padding-top: 15rem;
  padding-bottom: 15rem;
  align-items: center;
}

.hydrating-wrapper{
  grid-column: 1 / span 3;

}

.vitamins-wrapper{
  grid-column: 8 / span 3;
  text-align: right;
}

@media (min-width: 0px) and (max-width:899px){
  .s1{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hydrating-wrapper{
    grid-column: 2 / span 3;
    text-align: right;

  }
  .vitamins-wrapper{
    grid-column: 1 / span 3;
    text-align: left;
  }
}

/*Section 2*/
.s2{
  padding-top: 15rem;
  padding-bottom: 15rem;
  align-items: center;
}
.nos-wrapper{
  grid-column: 1 / span 3;
}
.ingredients-wrapper{
  grid-column: 8 / span 3;
  text-align: right;
}

@media (min-width: 0px) and (max-width:899px){
  .s2{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .nos-wrapper{
    grid-column: 2 / span 3;
    text-align: right;
  }
  .ingredients-wrapper{
    grid-column: 1 / span 3;
    text-align: left;
  }
}

/*Section 3*/
.s3{
  padding-top: 15rem;
  padding-bottom: 15rem;
  align-items: center;
}
.qty-wrapper{
  grid-column: 1 / span 3;
  text-align: right;
}
.price-wrapper{
  grid-column: 8 / span 3;
}

@media (min-width: 0px) and (max-width:899px){
  .s3{
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .qty-wrapper{
    grid-column: 1 / span 2;
    text-align: right;
  }
  .price-wrapper{
    grid-column: 3 / span 2;
  }
}

/*Button*/
#cart{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  height: 20rem;
  width: 20rem;
  background-color: var(--green4);
  color: #FFFFFF;
  font-size: 2.25rem;
  text-decoration: none;
  font-family: 'FeijoaBold';
  border-radius: 50%;
  text-align: center;
  z-index: 100;
}

/*Footer*/
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-column: 1 / span 10;
  width: 100%;
}

hr{
  border-top: 0.5px solid #000000;
  margin: auto;
}
.support{
  grid-column: 1 / span 2;
}
.socialMedia{
  grid-column: 3 / span 2;
}
.about{
  grid-column: 5 / span 2;
}
.slogan{
  grid-column: 7 / span 2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logo-wrapper{
  grid-column: 9 / span 2;
}
.logo{
  width: 194px;
}
h6{
  padding-bottom: 1.5rem;
}
@media (min-width: 0px) and (max-width:899px){
  .logo-wrapper{
    grid-column: 3 / span 2;
  }
  .slogan{
    grid-column: 1 / span 2;
  }
  .logo{
      width: 150px;
  }
  .hide2{
    display: none;
  }
  h6{
    padding-bottom: 0px;
  }
  .support{
    grid-column: 1 / span 3;
  }
  .socialMedia{
    grid-column: 1 / span 3;
  }
  .about{
    grid-column: 1 / span 3;
  }
  footer{
    padding-top:
    grid-column: 1 / span 4;
  }
}


/* Dropdown */



@media (min-width: 0px) and (max-width:899px){
  /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



}
