
/* Imports*/
@import 'resets.css';
@import 'typography.css';
@import 'animation.css';

body{
  background-color: var(--green1);
}


/*Variables*/
:root {
  /* Colours Green- light to dark*/
  --green1: #C5CDC0;
  --green2: #93A889;
  --green3: #3E563E;
  --green4: #091008;
  /* Screen sizes */
  --mobile: 0px;
  --tablet: 600px;
  --laptop: 900px;
}

/*Grid*/
@media (min-width: 0px) and (max-width:899px){
  .grid{display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;}
  }
@media screen and (min-width:900px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100%;
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;}
  }

/*Nav*/
ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1 / span 10;
}
nav{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 0px) and (max-width:899px){
  .hide{
    display: none;
  }
}
/*Heading*/
.title-wrapper{
  grid-column: 1 / span 3;
  text-align: right;
  padding-top: 9.4rem;
}
  .lavender-wrapper{
  grid-column: 8 / span 3;
  padding-top: 16.4rem;
}
  .img-wrapper{
  grid-column: 4 / span 4;
  justify-self: center;
}
img{
  width: 100%;
  max-width: 400px;
}

@media (min-width: 0px) and (max-width:899px){
  .title-wrapper{
      grid-column: 1 / span 2;
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  .lavender-wrapper{
      grid-column: 1 / span 3;
      padding-top: 2rem;
  }
  .img-wrapper{
      grid-column: 3 / span 2;
  }
}

/*Circles*/
.circle1{
  height: 20rem;
  width: 20rem;
  background-color: var(--green2);
  border-radius: 50%;
}
.circle2{
  height: 20rem;
  width: 20rem;
  background-color: var(--green3);
  border-radius: 50%;
}
.circle-wrapper{
  grid-column: 4 / span 4;
  justify-self: center;
}
@media (min-width: 0px) and (max-width:899px){
  .circle-wrapper{
    grid-column: 1 / span 4;

  }
}

/*Section 1*/
.s1{
  padding-top: 15rem;
  padding-bottom: 15rem;
  align-items: center;
}

.hydrating-wrapper{
  grid-column: 1 / span 3;
}

.vitamins-wrapper{
  grid-column: 8 / span 3;
  text-align: right;
}

@media (min-width: 0px) and (max-width:899px){
  .s1{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hydrating-wrapper{
    grid-column: 2 / span 3;
    text-align: right;
  }
  .vitamins-wrapper{
    grid-column: 1 / span 3;
    text-align: left;
  }
}

/*Section 2*/
.s2{
  padding-top: 15rem;
  padding-bottom: 15rem;
  align-items: center;
}
.nos-wrapper{
  grid-column: 1 / span 3;
}
.ingredients-wrapper{
  grid-column: 8 / span 3;
  text-align: right;
}

@media (min-width: 0px) and (max-width:899px){
  .s2{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .nos-wrapper{
    grid-column: 2 / span 3;
    text-align: right;
  }
  .ingredients-wrapper{
    grid-column: 1 / span 3;
    text-align: left;
  }
}

/*Section 3*/
.s3{
  padding-top: 15rem;
  padding-bottom: 15rem;
  align-items: center;
}
.qty-wrapper{
  grid-column: 1 / span 3;
  text-align: right;
}
.price-wrapper{
  grid-column: 8 / span 3;
}

@media (min-width: 0px) and (max-width:899px){
  .s3{
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .qty-wrapper{
    grid-column: 1 / span 4;
    text-align: right;
  }
  .price-wrapper{
    grid-column: 1 / span 4;
  }
}

/*Footer*/
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-column: 1 / span 10;
  width: 100%;
}
@media (min-width: 0px) and (max-width:899px){
  footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-column: 1 / span 4;
    width: 100%;
  }
}
hr{
  border-top: 0.5px solid #000000;
  margin: auto;
}
.support{
  grid-column: 1 / span 2;
}
@media (min-width: 0px) and (max-width:899px){
  .support{
    grid-column: 1 / span 4;
  }
}
.socialMedia{
  grid-column: 3 / span 2;
}
@media (min-width: 0px) and (max-width:899px){
  .socialMedia{
    grid-column: 1 / span 4;
  }
}
.about{
  grid-column: 5 / span 2;
}
@media (min-width: 0px) and (max-width:899px){
  .about{
    grid-column: 1 / span 4;
  }
}
.slogan{
  grid-column: 7 / span 2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width:899px){
  .slogan{
    grid-column: 1 / span 4;
  }
}
.logo-wrapper{
  grid-column: 9 / span 2;
}
@media (min-width: 0px) and (max-width:899px){
  .logo-wrapper{
    grid-column: 1 / span 4;
  }
}
.logo{
    width: 194px;
}
h6{
  padding-bottom: 1.5rem;
}
/*Button*/
a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  height: 20rem;
  width: 20rem;
  background-color: var(--green4);
  color: #FFFFFF;
  font-size: 2.25rem;
  text-decoration: none;
  font-family: 'FeijoaBold';
  border-radius: 50%;
  text-align: center;

}
