
/* Imports*/

@import 'resets.css';
@import 'typography.css';

/*Variables*/
:root {
  /* Colours */
  --black: #181818;
  --grey: #8C8C8C;
  --red: #FF473A;
  /* Screen sizes */
  --mobile: 0px;
  --tablet: 600px;
  --laptop: 900px;
}

/*Grid*/
@media screen and (min-width:0) {
  .grid{display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;}
  }
  @media screen and (min-width:900px) {
    .grid{
      display: grid;
      grid-template-columns: repeat(10,1fr);
      padding-left: 20px;
      padding-right: 20px;}
    }

/*Nav*/





/* Sample of a Media Query */
/* This will cause p to turn red on screens bigger than 900px */
@media screen and (min-width:0) {
  p{
    color: var(--black);
  }
}

@media screen and (min-width:900px) {
  p{
    color: var(--red);
  }
}
