
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}
/*Lists*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
hr{
  border:0;border-top:1px solid #555;margin:0;height:1px;
}

/* Buttons */

button {
  appearance:none;
  background:transparent;
  border:0;
  padding:0;
  cursor:pointer;
  font:inherit;
  text-align:inherit;
}

button:active,
button:focus {
  outline:none;
}

img{
	display: block;
	width: 100%;
}
