
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
}
/*Lists*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


/* Buttons */

/*button {
  appearance:none;
  background:transparent;
  border:0;
  padding:0;
  cursor:pointer;
  font:inherit;
  text-align:inherit;
}

button:active,
button:focus {
  outline:none;*/
}

img{
	display: block;
	width: 100%;
}
