@font-face {
  font-family: FeijoaDisplay;
  src: url(../fonts/feijoa-test-display.woff);
}
@font-face {
  font-family: FeijoaMed;
  src: url(../fonts/feijoa-test-medium.woff);
}
@font-face {
  font-family: FeijoaBold;
  src: url(../fonts/feijoa-test-bold.woff);
}

h1,h2,h3,h4,h5,h6,p,li, a, input, button{
	font-weight: normal;
	font-style: normal;
	margin: 0;
	font-variant-ligatures: common-ligatures;
	font-feature-settings: "kern" 1, "liga" 1, "pnum" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Nav*/
li{
  font-size: 1.125rem;
  font-family: 'FeijoaMed', Times, serif;
}
/*Font Family*/
h1,h2{
  font-family: 'FeijoaDisplay', Times, serif;
}


/*Font Sizes*/
h1{
  font-size: 4.8rem;
  line-height: 6.25rem;
}
/*@media only screen and (min-width: 0px){
  h1{
    font-size: 2.25rem;
  }
}*/
h2{
  font-size: 2.5rem;
  line-height: 3.6rem;
}
h3{
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: Times, serif;
}
h4{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: 'FeijoaMed', Times, serif;
}
h5{

}
h6{
  font-size: 1.125rem;
  font-family: 'FeijoaBold', Times, serif;
}
